:root {
    --background: #121c2a;
    --background-light: #1f2940;
    --background-lighter: #2b3548;
    --font-color: #6377a6;
    --font-color-light: #b2b4b9;
    --font-color-lighter: #f5f6f7;
    --font-color-lightest: #fff;
    --button-background: #1f2940;
    --button-primary: #4d48e5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color);
}
body {
    background-color: var(--background);
}
h1 {
    font-size: 1.2rem;
}
.w-100p {
    width: 100%;
}
.flex {
    display: flex;
}
.flex_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav {
    height: 80px;
    width: 100%;
    border-bottom: yellowgreen thin solid;
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    padding: 1.2rem;
    color: var(--font-color-lighter);
}
nav .brand {
    color: var(--font-color-light);
    font-size: 1.8rem;
}
nav #stats {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

main {
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

input, button, a {
    line-height: 2rem;
}
input, button {
    padding: 0.5rem;
}

.btn {
    background-color: var(--button-background);
    color: var(--font-color-light);
    border: thin solid var(--font-color-light);
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}
.btn-primary {
    background-color: var(--button-primary);
    border: thin solid var(--button-primary);
}

#draft, #deck, #players {
    background-color: var(--background-light);
    padding: 0.5rem;
    min-height: 24rem;
}
#draft {
    margin-bottom: 1rem;
}

.player_card {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--background-lighter);
    /*border: var(--font-color) thin solid;*/
    border-radius: 0.5rem;
    width: 9rem;
    max-width: 12rem;
    min-height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 20rem;
}
.player_card h2 {
    color: var(--font-color-light);
    font-size: 0.9rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;
    margin: 0.5rem;
}
.player_card .level {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.player_card .club {
    text-align: center;
}
.player_card .costs {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}
.player_card .costs i {
    color: var(--font-color-light);
}
.position {
    width: 1.2rem;
    height: 1.2rem;
}
.striker {
    border-bottom: solid thin #0d0;
}
.midfielder {
    border-bottom: solid thin #ff0;
}
.defender {
    border-bottom: solid thin #e00;
}
.goalkeeper {
    border-bottom: solid thin pink;
}
.pagination {
    text-align: center;
}